.main-body{
    display:flex;
}


.main{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 700px;
    border:1px  solid
}
.picture img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}

.tabs{
    display: flex;
    flex-direction: column;
    padding: 10px;
}